:root {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

main {  
  display: flex;
  flex: row wrap;
}

aside {
  flex: 0 0 35%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-left: 40px;
}

#container {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin: 100px;
}

.tower {
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 300px;
  width: 35px;
  margin-right: 80px;
  margin-left: 50px;
}

.disk {
  border: 1px solid black;
  height: 35px;
  border-radius: 20%;
}

#d1 {
  width: 60px;
  background-color: firebrick;
}

#d2 {
  width: 80px;
  background-color: darkorange;
}

#d3 {
  width: 110px;
  background-color: darkgreen;
}

#d4 {
  width: 130px;
  background-color: darkblue;
}

button {
  height: 40px;
  width: 100px;
  background-color: gold;
  font-size: 15px;
  align-self: center;
  margin-top: 50px;
}
